html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(../img/tex.jpg) repeat;
        
}

.start-menu
{
    
}

.first-row
{
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
    -o-transform: rotate(-45deg);
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    width: 350px ;
    height: 350px;   
    margin-top: 10px;
    box-shadow: 14px -14px 15px -15px #d87c21;   
}

.second-row
{
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
    -o-transform: rotate(-45deg);
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    width: 200px ;
    height: 200px;   
    margin-top: 250px;
    box-shadow: 14px -14px 15px -15px #d87c21;

}

.header{
    width: 450px;
    font-family: 'Audiowide', cursive;
    font-size: 100pt;
    position: absolute;
    left: 50%;
    margin-top: 50px;
    margin-left: -210px;
    color: white;
    text-shadow: -10px 10px 5px rgba(0, 0, 0, 1);
    
}

.popup {
    position: absolute;
    background: #333333;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.popup-inner {
    position: absolute;
    width: 100%;
    top: 50%;
}
h1 {
    font-size: 45px;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    font-family: Arial;
    margin-top: -25px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
